*{
    margin:0;
    padding:0;
}
#young-woman-fit-body-jumping-260nw-727673917{
    background:url(young-woman-fit-body-jumping-260nw-727673917);
    background-size: cover;
    background-position: center;
    height:100vh;
}